* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #90dbf4;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

span {
    display: block;
}